.title{
    text-align: center;
}

.form{
    display: flex;
    flex-direction: column;
    /* align-items: left; */
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin:0 5%;
}



.form label{
    margin-right:10px ;
}

.submitBtn{
    cursor: pointer;
}

.error{
    color: #ff0000;
}